<h1> Please Log In <h2>

<%form_with scope: :user, url: homepage_index_path, local: true do |form| %> 
    <p>
        <%=form.label :email%> <br>
        <%= form.email :email%>

        <%=form.label :password%> <br>
        <%=form.password :password%>

        <%= form.submit %>


    </p>

    <% end %>